<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Edit password</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <section class="vh-100 mt-5">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5 text-center">
                    <h2>
                        [[${id}]]
                    </h2>
                    <p class="lead">
                        You can change your password here.
                        Be sure your input contains original password
                    </p>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                    <form th:method="put" th:action="@{'/users/' + ${id} + '/password'}"
                          th:object="${passwordEditDto}">

                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('global')}">
                            <p th:errors="*{global}">Error</p>
                        </div>

                        <input type="hidden" name="username" th:value="${id}" />

                        <!-- Current Password -->
                        <div class="form-outline mb-1">
<!--                            <label class="form-label" for="currentPassword">Your current password:</label>-->
                            <input type="password" id="currentPassword" class="form-control form-control-lg"
                                   name="currentPassword" th:field="*{currentPassword}" placeholder="Enter your current password" />
                            <div class="text-danger" role="alert" th:if="${#fields.hasErrors('currentPassword')}"
                                 th:errors="*{currentPassword}">
                                Error
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-2">
<!--                            <label class="form-label" for="newPassword">New password:</label>-->
                            <input type="password" id="newPassword" class="form-control form-control-lg"
                                   name="newPassword" th:field="*{newPassword}" placeholder="Enter new password" />
                            <div class="text-danger" role="alert" th:if="${#fields.hasErrors('newPassword')}"
                                 th:errors="*{newPassword}">
                                Error
                            </div>
                        </div>

                        <div class="form-outline mb-1">
<!--                            <label class="form-label" for="repeatPassword">Repeat password:</label>-->
                            <input type="password" id="repeatPassword" class="form-control form-control-lg"
                                   name="repeatPassword" th:field="*{repeatPassword}" placeholder="Repeat password" />
                            <div class="text-danger" role="alert" th:if="${#fields.hasErrors('repeatPassword')}"
                                 th:errors="*{repeatPassword}">
                                Error
                            </div>
                        </div>

                        <div class="text-center text-lg-start mt-1 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg w-100"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:insert="~{fragments/main :: errorFragment}"></div>

<div th:insert="~{fragments/footer :: footer}"></div>

<script crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>