<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Records</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="text-center">
    <h1>Manage records in table:</h1>
    <h2 th:text="${customTable.name}"></h2>
    <p><a class="btn btn-primary" href="/tables/all" role="button">Return</a></p>
    <p><a class="btn btn-success" role="button" title="Limit 100 rows"
          th:href="@{'/records/{customTableId}/export'(customTableId=${customTable.id})}">Export to Excel</a></p>
    <p><a class="btn btn-primary" role="button"
          th:href="@{'/records/{customTableId}/create'(customTableId=${customTable.id})}">Create new</a></p>
</div>

<div class="d-flex justify-content-center">
    <table class="table table-striped" style="width: 80rem">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col" th:each="requisite : ${requisites}">
                <span th:text="${requisite.name}"></span>
            </th>
            <th scope="col">Last update</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${records}">
            <th scope="row" th:text="${record.id}"></th>
            <td th:each="requisite : ${requisites}">
                <th:block th:switch="${requisite.type.name()}">
                    <span th:case="'LOCAL_DATE_TIME'"
                          th:text="${record.requisiteValueMap.get(requisite.id) == null ? ''
                           : record.requisiteValueMap.get(requisite.id).format(formatNormal)}"></span>
                    <span th:case="*" th:text="${record.requisiteValueMap.get(requisite.id)}"></span>
                </th:block>
            </td>
            <td th:text="${record.updateTime.format(formatNormal)}"></td>
            <td>
                <form th:action="@{'edit/{id}'(id=${record.id})}">
                    <button class="btn btn-secondary" type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{'delete/{id}'(id=${record.id})}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>